*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body {
    background-color: #111;
    color: antiquewhite;
}

div{
    height: 100px;
    width: 100px;
    background-color: rgb(228, 94, 121);
}
button {
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: green;
    color: aqua;
    font-size: larger;
}