* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #111;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 450px;
    height: 300px;
    background-color: #fff;
    padding: 40px 10px;
    border-radius: 20px;
    box-shadow: 20px;
}

.outer {
    width: 100%;
    height: 30px;
    background-color: #9b98f1;
    border-radius: 20px;
}

.inner {
    width: 0;
    height: 100%;
    background-color: green;
    border-radius: 20px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.bottom button {
    padding: 20px 40px;
    background-color: green;    
    border: none;
    border-radius: 30px;    
}

.bottom button:active {
    scale: 0.9;
}

.bottom h1 {    
    font-size: 70px;
}

.bottom button:hover {
    background: #cfdb23;
}

.bottom button:active {
    transform: scale(0.92);
}