* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: wheat;
}

html,
body {
    height: 100%;
    width: 100%;
}

section{
    height: 100%;
    width: 100%;
}

.all-reel {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(38, 38, 38),black);
    /* background-color: aqua; */
    padding: 20px;
    /* margin-bottom: 20px; */
    /* overflow: hidden; */
     overflow-y: scroll;           
    scroll-snap-type: y mandatory;
    margin-bottom: 30px;
}
.all-reel::-webkit-scrollbar {
    display: none;
}

.all-reel {
    scrollbar-width: none;
}

.all-reel {
    -ms-overflow-style: none;
}

.all-reel .reel {
    height: 100%;
    width: 400px;
    background-color: rgb(5, 5, 5);
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;

}

.reel video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.bottom {
    width: 100%;
    height: 130px;
    background: linear-gradient(rgba(0, 0, 0, 0.041),black);
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    padding: 20px 10px;
}

.bottom-1 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.bottom-1 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.bottom-1 h4 {
    font-size: large;
    font-weight: 500;
}

.bottom-1 button{
    color: black;
    padding: 2px 20px;
    font-size: large;
    font-weight: 500;
    border-radius: 15px;
}

.bottom .h5 {
    font-size: large;
    font-weight: 500;
    padding: 20px;
}

.icon {
    position: absolute;
    bottom: 0;
    right: 1%;
    top: 50%;
    display: flex;
    /* transform: translate(110%); */
    flex-direction: column;
    gap: 10px;
}

.icon .like-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon .like-icon h4 i {
    /* color: red; */
}
.liked {
  color: red;
}

.icon .comment-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon .send-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon .dot-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

