*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #111;
}

/* GRID LAYOUT */
main{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

/* CARD */
.card{
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgb(148, 184, 28);
    transition: 0.2s ease;
}

.card:hover{
    transform: scale(1.03);
}

/* IMAGE */
.card img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid rgb(229, 100, 40);
}

/* TEXT */
.card h1{
    font-size: 24px;
    font-weight: 700;
    color: rgb(229, 100, 40);
}

.card p{
    font-size: 14px;
    font-weight: 600;
    color: rgb(229, 100, 40);
    margin-top: 8px;
}
