*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(232, 45, 45);
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #111;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 0;
    object-fit: cover;
}

.card h1{
    font-size: 30px;
    font-weight: 700;
    color: rgb(229, 100, 40);
}

.card p{
    font-size: 15px;
    font-weight: 700;
    color: rgb(229, 100, 40);
    margin: 10px;
}