*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: wheat;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-weight: 800;
    font-size: xxl;
    color: cornflowerblue;
}
h2 {
    font-weight: 800;
    font-size: xxl;
    color: cornflowerblue;
}

button {
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    font-weight: 800;
    font-size: xx-large;
    color: cornflowerblue;
    background-color: rgba(255, 0, 242, 0);
}