* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(9, 9, 9);
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #111;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 400px;
    height: 500px;
    background: #fff;
    border-radius: 20px;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

img {
    height: 300px;
    width: 400px;
    object-fit: cover;
    /* box-shadow: inset; */
    position: relative;
    /* transform: translate(-50%,-50%); */
}

.ri-heart-3-line {
    font-size: 80px;
    background: linear-gradient(red, pink);
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.ri-heart-3-line {
    font-size: 80px;
    color: pink;          /* fill */
    -webkit-text-stroke: 2px red;  /* outline */
}

