* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(9, 9, 9);
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #111;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 400px;
    /* height: 500px; */
    background: #fff;
    border-radius: 20px;
    padding: 20px;
}

img {
    position: relative;
    height: 400px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 20px;

}

h1 {
    font-size: 40px;
    text-align: center;
}
.card i{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 100px;
    opacity: 0;
    background: linear-gradient(to right bottom, #5e015e ,red);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.65,1,.77,1.44) 0.4s;
}
