*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --x: 200px;
    --y: 200px;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #c35757;
}

div{
    height: 100%;
    width: 100%;
}

.box{
    height: 100%;
    width: 100%;
    background: radial-gradient(200px at var(--x) var(--y), rgba(248, 246, 246, 0.162), rgb(1, 1, 6));
    position: absolute;
    top: 0;
}

 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}