*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #000;
}

main{
    height: 100%;
    width: 100%;
    background-color: rgb(252, 74, 110);
    overflow-y: hidden;
    overflow-x: hidden;
}

button {
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 800;
    color: rgb(54, 42, 165);
    background-color: red;
    border-radius: 10%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}