* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background: #000;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.box {
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: 
    linear-gradient(black) padding-box,
    conic-gradient(at 0deg, black,rgb(255, 1, 145),black) border;
    /* border: 2px solid rgb(209, 192, 192); */
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(229, 199, 222);
    text-shadow: 5px 5px 10px rgb(227, 221, 225);
}

.box:hover{
    text-shadow: 5px 5px 10px rgb(255, 0, 195);
    box-shadow: 0 0 30px rgb(255, 1, 196);
}

h1{
    font-size: 35px;
}
p{
    font-size: 20px;
}

.box img {
    height: 100%;
    width: 100%;
}